
*{
    margin: 0%;
}
.box{
    background-color: black;
    color: white;
    width: 100%;
    height: 35px;
display: flex;
    justify-content: center;
    padding-top: 8px;
}
.hmain{
    margin-left: 80%;
    margin-top: -29px;
    width: 25px;
    height: 25px;
}
.shoP{
    Width:
160px;

Height:
22px;


}
.search{

Width:
Fill (577px);

Height:
Hug (48px);

border-radius:
62px;
Padding:

Top
12px;

margin-right: 
16px;

margin-bottom: 
12px;

margin-left:
16px;


}
.cart{
    width:
22.13px;

Height:
20.25px;

margin-top:
1.88px;
}
ul{
    display: flex;
    list-style: none;
    gap: 40px;
    margin-top: 30px;
    margin-left: 100px;
}
.text{
    Width:
577px;

Height:
173px;

margin-top:
237px;

margin-left:
100px;
font-size: 64px;
}
.text2{
    Width:
545px;

Height:
33px;

margin-top:
60px;

margin-left:
100px;
font-size: 16px;
}


.button{
    display: flex;
    Width:250px;
    color: white;
    font-size: 20px;

    
    Height:60px;
    
    margin-top:
    80px;
    padding-left: 70px;
    
    
    border-radius:
    62px;
    padding-top:15px;
    
    margin-right:
    54px;
    
    margin-left:
    200px;
    
    Gap:
    12px;
    background-color: black;
}
.star{
    Width:
56px;

Height:
56px;

margin-top:
431px;

Left:
750px;

}